---
layout: default
title: Blog
---
<h1>Hilario's Blog</h1>
<p>
    Welcome to my blog. Here I share reflections on a few topics, including statistics, mathematics, and computer science. Some posts may be more theoretical or abstract, while others may focus on applications. My goal is to explore these subjects and share my thoughts on them.
</p>
{% assign categories = site.posts | map: 'category' | uniq %}
{% for category in categories %}
    <h2>{{ category }}</h2>
    <ul>
        {% for post in site.posts %}
            {% if post.category == category %}
                <li>
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a> - <em>{{ post.date | date: "%B %d, %Y" }}</em>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
