---
layout: default
title: Blog
---
<h1>Hilario's Blog</h1>
<p>
    Welcome to my blog. Here I share reflections on topics ranging from philosophy to mathematics, sometimes leaning toward the theoretical and abstract, in contrast to the applied focus of my project portfolio. On some topics I write not as an expert, but as someone curious to learn and think through these ideas.
</p>
{% assign categories = site.posts | map: 'category' | uniq %}
{% for category in categories %}
    <h2>{{ category }}</h2>
    <ul>
        {% for post in site.posts %}
            {% if post.category == category %}
                <li>
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a> - <em>{{ post.date | date: "%B %d, %Y" }}</em>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
