---
layout: default
title: Blog
---
<h1>Blog</h1>
<p>
    Welcome to my blog. Here, I may share some thoughts on topics from philosophy and mathematics, even though I'm not an expert on such subjects. Note that the ideas
    and concepts discussed in this blog are more theoretical and abstract than the ones in my project portfolio.
</p>
{% assign categories = site.posts | map: 'category' | uniq %}
{% for category in categories %}
    <h2>{{ category }}</h2>
    <ul>
        {% for post in site.posts %}
            {% if post.category == category %}
                <li>
                    <a href="https://github.com/HilarioFernandes/HilarioFernandes.github.io/blob/main/{{ post.path }}" target="_blank" rel="noopener noreferrer">{{ post.title }}</a> - <em>{{ post.date | date: "%B %d, %Y" }}</em>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
